.container{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: aqua;
    flex-wrap: wrap;
}
#item1{
    border: solid 1px blue;
    height:20%;
    width: 100%;
    display: flex;
}
#elemento1{
    border: solid 1px black;
    height: 100%;
    width: 25%;
}
#elemento2{
    border: solid 1px black;
    height: 100%;
    width: 25%;
}
#elemento3{
    border: solid 1px black;
    height: 100%;
    width: 25%;
}
#elemento4{
    border: solid 1px black;
    height: 100%;
    width: 25%;
}

#item2{
    border: solid 1px blue;
    height:20%;
    width: 100%;
    display: flex;
}

#item3{
    border: solid 1px blue;
    height:20%;
    width: 100%;
}
#item4{
    border: solid 1px blue;
    height:20%;
    width: 100%;
}
#item5{
    border: solid 1px blue;
    height:20%;
    width: 100%;
}
#resultadoSoma{
    background-color: #1100ff;
    color: white;
}

#resultadoSubtracao{
    background-color: #0008ff;
    color: white;
}

#resultadoMultiplicacao{
    background-color: #1e00ff;
    color: white;
}

#resultadoDivisao{
    background-color: #0008ff;
    color: white;
}
#resultadoSoma{
    background-color: #0008ff;
    color: white;
}

#resultadoSubtracao{
    background-color: #3300ff;
    color: white;
}

#resultadoMultiplicacao{
    background-color: #2200ff;
    color: white;
}

#resultadoDivisao{
    background-color: #1100ff;
    color: white;
}

#resultadoConversao{
    background-color: #1100ff;
    color: white;
}

#resultadoConversao1{
    background-color: #1e00ff;
    color: white;
}

#areaRe{
    background-color: #2600ff;
    color: white;
}

#areaCircu{
    background-color: #0000ff;
    color: white;
}
